{% extends 'layouts/app.twig' %}
{% block title %}
    Activate
{% endblock %}
{% block content %}
    <div class="large centered big-vertical-padding">
        <div class="form small-form centered">
                <h1>Activate</h1>
                <div id="data-section"></div>
        </div>
    </div>
    <script src=/public/js/activate.js></script>
{% endblock %}
{% block footer %}
    {% include "footer.twig" %}
{% endblock %}
