<div>
	<div class="toolbar small-padding noselect">
		<img class="toolbar-logo rounded" src=/public/images/logo.png>
		<p class="toolbar-title">MATCHA</p>
		<div id="horizontal-toolbar-list" class="toolbar-list hidden">
			<a class="toolbar-item" href="/home">Home</a>
			<a class="toolbar-item" href="/filter">Filter</a>
			<a class="toolbar-item" href="/notification">Notification</a>
			<a class="toolbar-item" href="/chat">Chat</a>
			<a class="toolbar-item" href="/profile">Profile</a>
			<a class="toolbar-item" href="/logout">Logout</a>
		</div>
		<a id="vertical-toolbar-menu" class="vertical-toolbar-menu">
			<i class="material-icons">menu</i>
			<div id="vertical-toolbar-list" class="vertical-toolbar-list">
				<a class="toolbar-item" href="/home">Home</a>
				<a class="toolbar-item" href="/filter">Filter</a>
				<a class="toolbar-item" href="/notification">Notification</a>
				<a class="toolbar-item" href="/chat">Chat</a>
				<a class="toolbar-item" href="/profile">Profile</a>
				<a class="toolbar-item" href="/logout">Logout</a>
			</div>
		</a>
	</div>
	<script src=/public/js/toolbar.js></script>
</div>
