{% extends 'layouts/app.twig' %}
{% block title %}
    Matcha
{% endblock %}
{% block content %}
    <div class="large centered big-vertical-padding">
        <div class="form small-form centered center">
                <img class="app-medium-logo rounded" src=/public/images/logo.png>
                <h1>404</h1>
                <p>Page not found !</p>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include "footer.twig" %}
{% endblock %}
